header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.8s;
}

header.black {
    background-color: #111;
    box-shadow: 0 0 20px rgba(245, 242, 242, 0.4);
}

.header--logo {
    height: 40px;
    cursor: pointer;
}

.header--logo img {
    height: 100%;
}

.header--user {
    height: 40px;
    cursor: pointer;
}

.header--user img {
    height: 100%;
    border-radius: 4px;
}

@media (max-width: 768px) {
    header {
        height: 50px;
        padding: 0 20px;
    }

    .header--logo {
        height: 40px;
    }

    .header--user {
        height: 30px;
    }
}

@media (max-width: 360px) {
    header {
        height: 40px;
        padding: 0 10px;
    }

    .header--logo {
        height: 30px;
    }

    .header--user {
        height: 20px;
    }
}